mainmenu "Smart Guard Configuration Menu"

config I2C_SDA_PIN
    int "I2C SDA PIN"
    default 21

config I2C_SCL_PIN
    int "I2C SCL PIN"
    default 22

menu "Display pins"

config BACKLIGHT_PIN
    int "Display backlight PIN"
    default 12
	
endmenu

menu "Real-Time Clock (RTC) pins"

config RTC_INT_PIN
    int "RTC Interrupt PIN"
    default 37
    
endmenu

menu "Touch board pins"

config TOUCH_INT_PIN
    int "Touch Interrupt PIN"
    default 38
    
config TOUCH_SDA_PIN
    int "Touch SDA PIN"
    default 23

config TOUCH_SCL_PIN
    int "Touch SCL PIN"
    default 32

endmenu

menu "Axis Sensor pins"

config AXIS_INT_PIN
    int "Axis Interrupt PIN"
    default 39
    
config AXIS_SDA_PIN
    int "Axis SDA PIN"
    default $(I2C_SDA_PIN)

config AXIS_SCL_PIN
    int "Axis SCL PIN"
    default $(I2C_SCL_PIN)

endmenu